/* default css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: "Courier New", Courier, monospace;
}
/* body styling */
body {
    background-color: #34495e;
    color: rgb(238, 228, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
h1 {
    font-size: 4rem;
    margin: 2rem 0 0;
    letter-spacing: 10px;
    /* font-weight: 400; */
}
p {
    font-size: 1.7rem;
    font-weight: 400;
    /* letter-spacing: 12px; */
}
.game-container {
    height: 60%;
    margin: auto;
}
.main-container {
    /* max-width: 80rem; */
    /* width: 100%; */
    display: flex;
    justify-content: flex-start;
}
.wrong-letter-container {
    align-self: center;
    margin-left: 10rem;
}
.wrong-letters {
    /* background-color: rgba(0, 0, 0, 0.1); */
    padding: 2rem 3rem;
}
.wrong-letters p {
    letter-spacing: initial;
    font-size: 1.8rem;
    font-weight: 800;
}
.wrong-letters span {
    font-size: 1.6rem;
}
.figure-container {
    fill: transparent;
    stroke: white;
    stroke-width: 0.4rem;
    stroke-linecap: round;
}
.figure-part {
    display: none;
}

.word {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}
.word .letter {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    border-bottom: 1px solid #2980b9;
    margin: 0 0.5rem;
    height: 2rem;
    width: 3rem;
    padding: 0;
}
.popup-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
}
.popup {
    color: white;
    /* color: black; */
    padding: 5rem 7rem;
    border-radius: 5px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: rgba(65, 68, 211);
}
.popup #final-message {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-weight: bold;
}
.play-again {
    padding: 1.4rem 1.6rem;
    background-color: white;
    outline: none;
    border: none;
    color: rgb(50, 148, 187);
    transition: transform 0.4s ease-in-out;
}
.play-again:active {
    transform: translateY(-2px) scale(0.98);
}
.notification-container {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 0 0;
    padding: 15px 20px;
    position: absolute;
    /* bottom: -50px; */
    bottom: 0;
    opacity: 0;
    /* visibility: hidden; */
    transition: all 0.3s ease-in-out;
}
.show {
    visibility: true;
    opacity: 1;
}
.notification {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-radius: 1rem 1rem 0 0;
}
.notification-container p {
    letter-spacing: initial;
}
